<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Angualr Post</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
	<script>
		//create angular app
		var myApp = angular.module('myApp', []);

		//create controller
		myApp.controller('ctrl1', function($scope, $http){
			$scope.title = 'Angular Post Test';
			$scope.output = 'Nothing here yet';

			$scope.form = {};
			$scope.submit = function(){
				//$http({}).then();
				$http({
					url: 'server/1_angular_post.php',
					method: 'POST',
					data: $scope.form
				}).then(
					function(response){
						//success
						$scope.output = response.data;
					},
					function(response){
						//fail
						console.log(response.status);
					}
				);
			}
		});
	</script>
</head>
<body>
	<div ng-controller="ctrl1">
		<h1>{{ title }}</h1>

		<form>
			<p><input type="text" name="first_name" ng-model="form.first_name" placeholder="First Name"></p>
			<p><input type="text" name="last_name" ng-model="form.last_name" placeholder="Last Name"></p>
			<p><button ng-click="submit()">Submit</button></p>
			</p>
		</form>

		{{ output }}
	</div>
</body>
</html>