<h1>ABOUT</h1>

<p>Shut up! Look, my liege! I'm not a witch. The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land. Did you dress her up like this?</p>
<p>Shut up! She looks like one. We found them. It's only a model. And this isn't my nose. This is a false one.</p>
<p>I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second time! She looks like one.</p>
<p>We shall say 'Ni' again to you, if you do not appease us. You don't frighten us, English pig-dogs! Go and boil your bottoms, sons of a silly person! I blow my nose at you, so-called Ah-thoor Keeng, you and all your silly English K-n-n-n-n-n-n-n-niggits!</p>
<p>What a strange person. Oh! Come and see the violence inherent in the system! Help, help, I'm being repressed! No, no, no! Yes, yes. A bit. But she's got a wart. I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second time!</p>
<p>Be quiet! Bring her forward! Well, I got better. I have to push the pram a lot. Well, I got better. You can't expect to wield supreme power just 'cause some watery tart threw a sword at you!</p>
<p>Shut up! Camelot! What do you mean? How do you know she is a witch?</p>
<p>We found them. Be quiet! Well, I didn't vote for you. You don't vote for kings.</p>
<p>Did you dress her up like this? Shut up! The nose? She looks like one.</p>
<p>Well, how'd you become king, then? You can't expect to wield supreme power just 'cause some watery tart threw a sword at you! He hasn't got shit all over him. On second thoughts, let's not go there. It is a silly place.</p>
<p>Well, how'd you become king, then? Listen. Strange women lying in ponds distributing swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony.</p>