<h1>CONTACT US</h1>
<p>Look, my liege! Well, what do you want? How do you know she is a witch? What do you mean? Did you dress her up like this? I'm not a witch.</p>
<p>Well, Mercia's a temperate zone! A newt? You can't expect to wield supreme power just 'cause some watery tart threw a sword at you! Camelot!</p>
<h2>Shut up!</h2>
<p>Who's that then? Shut up! Shh! Knights, I bid you welcome to your new home. Let us ride to Camelot! Who's that then? On second thoughts, let's not go there. It is a silly place. What do you mean?</p>
<p>Well, what do you want? Knights of Ni, we are but simple travelers who seek the enchanter who lives beyond these woods. We found them. Ah, now we see the violence inherent in the system!</p>
<h3>What do you mean?</h3>
<p>And the hat. She's a witch! Oh, ow! The Knights Who Say Ni demand a sacrifice! And this isn't my nose. This is a false one. Listen. Strange women lying in ponds distributing swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony.</p>
<p>Camelot! I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second time!</p>
<p>Shut up! Shh! Knights, I bid you welcome to your new home. Let us ride to Camelot! And this isn't my nose. This is a false one. The Lady of the Lake, her arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur. That is why I am your king.</p>
<p>I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second time! Ni! Ni! Ni! Ni!</p>
<p>Shh! Knights, I bid you welcome to your new home. Let us ride to Camelot! Ah, now we see the violence inherent in the system! The nose? Oh! Come and see the violence inherent in the system! Help, help, I'm being repressed!</p>
<p>Camelot! Oh, ow! The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land. Bring her forward! Oh! Come and see the violence inherent in the system! Help, help, I'm being repressed!</p>