<div id="nav">
	<h1>Nav Div</h1>
	<ul>
	    <li><a href="#home" title="home">Home</a></li>
	    <li><a href="#images" title="images">Images</a></li>
	    <li><a href="#about" title="about">About Us</a></li>
	    <li><a href="#contact" title="contact">Contact Us</a></li>
	    <li><a href="#offers" title="offers">Offers</a></li>
	  </ul>
</div>