<h1>Offers</h1>
<p>Stop talking, brain thinking. Hush. You know how I sometimes have really brilliant ideas? All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? Father Christmas. Santa Claus. Or as I've always known him: Jeff.</p>
<p>I hate yogurt. It's just stuff with bits in. It's a fez. I wear a fez now. Fezes are cool. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? I am the last of my species, and I know how that weighs on the heart so don't lie to me!</p>
<h2>You've swallowed a planet!</h2>
<p>I'm the Doctor, I'm worse than everyone's aunt. *catches himself* And that is not how I'm introducing myself. I am the last of my species, and I know how that weighs on the heart so don't lie to me! Did I mention we have comfy chairs?</p>
<p>Saving the world with meals on wheels. You hate me; you want to kill me! Well, go on! Kill me! KILL ME! You hate me; you want to kill me! Well, go on! Kill me! KILL ME! I hate yogurt. It's just stuff with bits in.</p>
<h3>All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong?</h3>
<p>You hit me with a cricket bat. Heh-haa! Super squeaky bum time! Father Christmas. Santa Claus. Or as I've always known him: Jeff. You've swallowed a planet! *Insistently* Bow ties are cool! Come on Amy, I'm a normal bloke, tell me what normal blokes do!</p>
<p>It's art! A statement on modern society, 'Oh Ain't Modern Society Awful?'! *Insistently* Bow ties are cool! Come on Amy, I'm a normal bloke, tell me what normal blokes do! You know how I sometimes have really brilliant ideas?</p>
<p>I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship. You know how I sometimes have really brilliant ideas? Saving the world with meals on wheels.</p>
<p>The way I see it, every life is a pile of good things and bad things.…hey.…the good things don't always soften the bad things; but vice-versa the bad things don't necessarily spoil the good things and make them unimportant. I hate yogurt. It's just stuff with bits in.</p>