body{
	box-sizing: border-box;
	background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
h1{
	margin: 20px;
}
#main{
	width: 80%;
	background-color: #ddd;
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	margin: 0 auto;
	padding: 10px;
}
#list{
	width:20%;
	float:left;
}
#list ul{
	list-style-type: none;
	border: 1px solid #000;
	padding-left: 0;
}
#list ul li{
	margin: 0;
	padding: 10px;
	text-align: center;
	/*background-color: #aaa;*/
}
#list ul li:hover{
	background-color: #999;
}
#details table{
	margin: 40px;
	float: left;
	width: 40%;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0px;
}
#details #cover{
	float: left;
	width: 30%;
	margin-top: 20px;
	text-align: center;
}
#details table caption{
	font-weight: 700;
	font-size: 2rem;
	padding: 5px; 
	border: 1px solid #000;
	/*background-color: #aaa;*/
}
#details table td,th{
	padding: 10px;
	border: 1px solid #000;
	width: 50%;
}
#clear{
	clear: both;
}

.current{
	background-color: #f33;
}	