<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
	<meta charset="utf-8">
	<title>Hello World</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
	<script>
		var myApp = angular.module('myApp', []);
		myApp.controller('myController', function($scope){
			$scope.title = 'Hello, World!';
		});
	</script>
</head>
<body ng-controller="myController">
	<h1>{{ title }}</h1>
</body>
</html>
