<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
	<meta charset="utf-8">
	<title>Hello World</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
	<script>
		var myApp = angular.module('myApp', []);
		myApp.controller('myController', function($scope){
			$scope.title = 'Hello, World!';
			$scope.user = 'Arshdeep Singh';
			$scope.emial = 'arshdeep@gmail.com';
			$scope.phone = 922132232424;
		});
	</script>
</head>
<body ng-controller="myController">
	<h1>{{ title }}</h1>
	<h2>USER : {{ user }}</h2>
	<h2>Email : {{ emial }}</h2>
	<h2>Phone : {{ phone }}</h2>
</body>
</html>
