<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Two way binding</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
	<script>
		//you can chain methods as angular is object oriented
		var myApp = angular.module('myApp', [])
				.controller('main', function($scope){

					//object to hold my form data.
					var data = {};
					//put data object into scope.
					$scope.data = data;
					$scope.title='My Form';

					$scope.submit = function(){
						console.log($scope.data);
					}
				});
	</script>
</head>
<body>

	<div id="main" ng-controller="main">
		<h1>{{title}}</h1>
		<h2>Welcome: {{data.firstname}} {{data.lastname}} </h2>
		<form>
			
			<p><input ng-model="data.firstname" type="text" name="firstname" placeholder="First Name"></p>
			<p><input ng-model="data.lastname" type="text" name="lastname" placeholder="Last Name"></p>

			<button ng-click="submit()">Submit</button>
		</form>


	</div>	

</body>
</html>