<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Two way binding</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
	<script>
		//you can chain methods as angular is object oriented
		var myApp = angular.module('myApp', [])
				.controller('main', function($scope){
					$scope.title = "Directives";
					$scope.user = {};
					$scope.user.name = 'Davey';
					$scope.user.email = 'abc@example.com';

					console.log($scope.user);
				});

		myApp.directive('myUser', function(){
			return {
				// '\' this is to make a new line in the code.
				template: '<p> Name: {{ user.name }} <br /> \
				 Email: {{user.email}}</p>'
			}
		});
	</script>
</head>
<body>

	<div id="main" ng-controller="main">
		<h1>{{ title }}</h1>

		<div my-user>

		</div>

	</div><!-- /main -->	

</body>
</html>