<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Two way binding</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
	<style>
		.detail{
			width:50%;
			margin: 0 auto;
			background-color: #88e;
			text-align: center;
			padding: 20px;
			border-radius: 10px;
			border: 1px solid #000;
			margin-bottom: 20px;
		}
	</style>
	<script>
		//you can chain methods as angular is object oriented
		var myApp = angular.module('myApp', [])
				.controller('main', function($scope){
					$scope.title = "Directives";
					$scope.author = {};
					$scope.author.name = 'Frank Herbert';
					$scope.author.country = 'Canada';
					$scope.author.image = 'brent_weeks.jpg';
					console.log($scope.author);
				});

		myApp.directive('myAuthor', function(){
			return {
				// '\' this is to make a new line in the code.
				templateUrl: 'inc/author.inc.html'
			}
		});
	</script>
</head>
<body>

	<div id="main" ng-controller="main">
		<h1>{{ title }}</h1>

		<div my-author>

		</div>

	</div><!-- /main -->	

</body>
</html>